@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Upload Success";
}

<h2>File Upload Success</h2>
<a asp-action="Index" class="btn btn-primary">Back</a>
